// global
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Montserrat;
}
button {
  cursor: pointer;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
span{
  font-size: 14px;
  font-weight: 400;
}
.link {
  text-decoration: none;
  color: #fff;
}